## Data Preparation

In [3]:
import numpy as np
import pandas as pd

In [9]:
cal_df = pd.read_csv('./Seattle_Airbnb/calendar.csv')

In [17]:
cal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
listing_id    1393570 non-null int64
date          1393570 non-null object
available     1393570 non-null object
price         934542 non-null object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [22]:
cal_df['listing_id'].nunique()

3818

In [195]:
listing_df = pd.read_csv('./Seattle_Airbnb/listings.csv')

In [196]:
listing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
id                                  3818 non-null int64
listing_url                         3818 non-null object
scrape_id                           3818 non-null int64
last_scraped                        3818 non-null object
name                                3818 non-null object
summary                             3641 non-null object
space                               3249 non-null object
description                         3818 non-null object
experiences_offered                 3818 non-null object
neighborhood_overview               2786 non-null object
notes                               2212 non-null object
transit                             2884 non-null object
thumbnail_url                       3498 non-null object
medium_url                          3498 non-null object
picture_url                         3818 non-null object
xl_picture_url                      3498 non-null object
host_id                             3818 non-null int64
host_url                            3818 non-null object
host_name                           3816 non-null object
host_since                          3816 non-null object
host_location                       3810 non-null object
host_about                          2959 non-null object
host_response_time                  3295 non-null object
host_response_rate                  3295 non-null object
host_acceptance_rate                3045 non-null object
host_is_superhost                   3816 non-null object
host_thumbnail_url                  3816 non-null object
host_picture_url                    3816 non-null object
host_neighbourhood                  3518 non-null object
host_listings_count                 3816 non-null float64
host_total_listings_count           3816 non-null float64
host_verifications                  3818 non-null object
host_has_profile_pic                3816 non-null object
host_identity_verified              3816 non-null object
street                              3818 non-null object
neighbourhood                       3402 non-null object
neighbourhood_cleansed              3818 non-null object
neighbourhood_group_cleansed        3818 non-null object
city                                3818 non-null object
state                               3818 non-null object
zipcode                             3811 non-null object
market                              3818 non-null object
smart_location                      3818 non-null object
country_code                        3818 non-null object
country                             3818 non-null object
latitude                            3818 non-null float64
longitude                           3818 non-null float64
is_location_exact                   3818 non-null object
property_type                       3817 non-null object
room_type                           3818 non-null object
accommodates                        3818 non-null int64
bathrooms                           3802 non-null float64
bedrooms                            3812 non-null float64
beds                                3817 non-null float64
bed_type                            3818 non-null object
amenities                           3818 non-null object
square_feet                         97 non-null float64
price                               3818 non-null object
weekly_price                        2009 non-null object
monthly_price                       1517 non-null object
security_deposit                    1866 non-null object
cleaning_fee                        2788 non-null object
guests_included                     3818 non-null int64
extra_people                        3818 non-null object
minimum_nights                      3818 non-null int64
maximum_nights                      3818 non-null int64
calendar_updated                    3818 non-null object
has_availability                    3818 non-null object
availability_30                     3818 non-null int64
availability_60                     3818 non-null int64
availability_90                     3818 non-null int64
availability_365                    3818 non-null int64
calendar_last_scraped               3818 non-null object
number_of_reviews                   3818 non-null int64
first_review                        3191 non-null object
last_review                         3191 non-null object
review_scores_rating                3171 non-null float64
review_scores_accuracy              3160 non-null float64
review_scores_cleanliness           3165 non-null float64
review_scores_checkin               3160 non-null float64
review_scores_communication         3167 non-null float64
review_scores_location              3163 non-null float64
review_scores_value                 3162 non-null float64
requires_license                    3818 non-null object
license                             0 non-null float64
jurisdiction_names                  3818 non-null object
instant_bookable                    3818 non-null object
cancellation_policy                 3818 non-null object
require_guest_profile_picture       3818 non-null object
require_guest_phone_verification    3818 non-null object
calculated_host_listings_count      3818 non-null int64
reviews_per_month                   3191 non-null float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [14]:
listing_df.head(5)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [15]:
review_df = pd.read_csv('./Seattle_Airbnb/reviews.csv')

In [16]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
listing_id       84849 non-null int64
id               84849 non-null int64
date             84849 non-null object
reviewer_id      84849 non-null int64
reviewer_name    84849 non-null object
comments         84831 non-null object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

## Question 1: If a couple wants to stay in a entire apartment or house, which neighborhood group would most people pick? (Assuming the number of reviews represents for the number of bookings)

In [310]:
list_df = listing_df[(listing_df['accommodates'] ==2)&(listing_df['room_type'] =='Entire home/apt')] 
list_df.groupby(['neighbourhood_group_cleansed'])['number_of_reviews'].sum().sort_values(ascending = False)

# I picked neighborhood group because it's easy for tourists to understand seattle neighborhood in a high level

# Top3 neighborhood groups would be Capitol Hill, Downtown and Ballard

neighbourhood_group_cleansed
Capitol Hill           3345
Other neighborhoods    2958
Downtown               2356
Ballard                1850
Queen Anne             1746
Central Area           1729
Rainier Valley          827
West Seattle            644
Delridge                589
Cascade                 549
Beacon Hill             456
Northgate               334
Lake City               219
University District     217
Seward Park             130
Magnolia                 48
Interbay                  3
Name: number_of_reviews, dtype: int64

In [311]:
# Question 1.2: How's the average rating and options of top 3 popular neighborhoods look like?

In [293]:
a = ["Capitol Hill","Downtown","Ballard"]

list_df1 = list_df[list_df['neighbourhood_group_cleansed'].isin(a)]
list_df1.groupby(['neighbourhood_group_cleansed'])['review_scores_rating'].mean().sort_values(ascending = False)

neighbourhood_group_cleansed
Ballard         95.536585
Capitol Hill    93.657143
Downtown        92.747368
Name: review_scores_rating, dtype: float64

In [295]:
list_df1.groupby(['neighbourhood_group_cleansed'])['review_scores_rating'].count().sort_values(ascending = False)

neighbourhood_group_cleansed
Capitol Hill    140
Downtown         95
Ballard          41
Name: review_scores_rating, dtype: int64

In [296]:
# Ballard neighborhood has highest ratings but relatively less options while capitol hill and downtown offers more options.

## Question 2: What should the couple expect about the availiability and price range of the airbnbs in the popular neighrborhoods if they wants to stay for a long weekend?

In [313]:
pd.set_option('mode.chained_assignment', None)

In [358]:
#filter the available options
list_df2 = list_df1[(list_df1['minimum_nights']<4)&(list_df1['host_acceptance_rate'] == "100%")]

# change the data type of the price column
list_df2['price'] = list_df2['price'].replace('[\$,]', '', regex=True).astype(float)
list_df2['cleaning_fee'] = list_df2['cleaning_fee'].replace('[\$,]', '', regex=True).astype(float)

In [359]:
# For some columns, the cleaning fee value is missing, so calculate the average ratio of cleaning fee/price here

list_df2['cleaning_fee_ratio'] = list_df2['cleaning_fee']/list_df2['price']
c = list_df2['cleaning_fee_ratio'] .mean()

# the raio is about 42%, so we are using this to impute the missing value

list_df2.loc[list_df2['cleaning_fee'].isna() == True,'cleaning_fee'] = list_df2['price']*c

In [360]:
# total price = price * 2 + cleaning fee
list_df2['weekend_total'] = list_df2['price']*3 + list_df2['cleaning_fee']

In [361]:
# summary for the price range
# Here I picked neighbourhood itself instead of neighborhood group because we want to know more about detailed level

weekend_min = list_df2.groupby(['neighbourhood_cleansed'])['weekend_total'].min().rename('Min_price')
weekend_avg = list_df2.groupby(['neighbourhood_cleansed'])['weekend_total'].mean().rename('Mean_price')
weekend_max = list_df2.groupby(['neighbourhood_cleansed'])['weekend_total'].max().rename('Max_price')
Avaliable_options = list_df2.groupby(['neighbourhood_cleansed'])['weekend_total'].count().rename('Avaliable_options')

In [362]:
list_df3 = pd.concat([weekend_min,weekend_avg,weekend_max,Avaliable_options],axis=1)

In [415]:
list_df3.sort_values('Avaliable_options',ascending=False)

,neighbourhood_cleansed,Min_price,Mean_price,Max_price,Avaliable_options
2,Broadway,192.000000,351.029704,857.742350,92
1,Belltown,235.000000,427.710808,630.000000,41
4,First Hill,245.000000,416.099414,625.000000,20
12,Stevens,187.000000,372.544421,686.193880,17
0,Adams,247.000000,372.834942,575.000000,15
3,Central Business District,202.427195,441.071801,1029.290820,10
6,Loyal Heights,223.013011,298.848232,414.000000,9
14,West Woodland,257.322705,348.122297,497.000000,7
10,Pioneer Square,230.000000,551.206524,850.000000,7
9,Pike-Market,310.000000,423.742484,614.143522,6
15,Whittier Heights,280.000000,398.277662,530.000000,6
5,International District,220.000000,271.151072,339.665971,4
7,Madison Park,410.000000,504.250000,700.000000,4
8,Montlake,305.356277,366.785426,415.000000,3
16,Yesler Terrace,343.096940,414.477552,480.335716,3
13,Sunset Hill,291.632399,291.632399,291.632399,1
11,Portage Bay,463.180869,463.180869,463.180869,1

In [372]:
list_df3 = list_df3.reset_index()

## Question 3: Would booking a more expensive place really worth it for this couple?

In [396]:
# Let's say we want to see at least 10 available options in a certain neighborhood so we can compare different options
d = list_df3[list_df3['Avaliable_options']>10]['neighbourhood_cleansed']
list_df4 = list_df2[list_df2['neighbourhood_cleansed'].isin(d)]

In [409]:
# Get the price dist

list_df4['weekend_total'].quantile([0.25,0.5,0.75])

0.25    291.632399
0.50    360.251787
0.75    460.000000
Name: weekend_total, dtype: float64

In [410]:
bins = [0,292,360,460,1000]
list_df4['price_group'] = pd.cut(list_df4['weekend_total'], bins)

In [411]:
avg_rating = list_df4.groupby(['price_group'])['review_scores_rating'].mean().rename('avg_rating')
avg_accuracy = list_df4.groupby(['price_group'])['review_scores_accuracy'].mean().rename('avg_accuracy')
avg_cleanliness = list_df4.groupby(['price_group'])['review_scores_cleanliness'].mean().rename('avg_cleanliness')
avg_checkin = list_df4.groupby(['price_group'])['review_scores_checkin'].mean().rename('avg_checkin')
avg_communication = list_df4.groupby(['price_group'])['review_scores_communication'].mean().rename('avg_communication')
avg_location = list_df4.groupby(['price_group'])['review_scores_location'].mean().rename('avg_location')
avg_value = list_df4.groupby(['price_group'])['review_scores_value'].mean().rename('avg_value')
option_counts = list_df4.groupby(['price_group'])['review_scores_rating'].count().rename('option_counts')

In [412]:
list_df5 = pd.concat([avg_rating,avg_accuracy,avg_cleanliness,avg_checkin,avg_communication,avg_location,avg_value,option_counts],axis=1)

In [413]:
list_df5

,avg_rating,avg_accuracy,avg_cleanliness,avg_checkin,avg_communication,avg_location,avg_value,option_counts
price_group,,,,,,,,
"(0, 292]",91.400000,9.100000,9.325000,9.675000,9.750000,9.850000,9.325000,40
"(292, 360]",95.459459,9.783784,9.567568,9.864865,9.891892,9.891892,9.567568,37
"(360, 460]",91.931818,9.454545,9.409091,9.636364,9.568182,9.772727,9.204545,44
"(460, 1000]",94.909091,9.636364,9.681818,9.886364,9.954545,9.909091,9.295455,44

In [414]:
# paying more than $292 makes a difference on the accuracy and cleanliness, but wouldn't necessarily impact the checkin, communication, and location
# paying more than $360 might not be worth it since the previous customer thought it wasn't worth the value
# overall customers paying between 292 and 360 are happiest about the airbnb.